@charset "UTF-8";

.container {
    padding-left: 370px;
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    margin-top: 10px;
    height: 25px;
    width: 95%;
    border: 1px solid rgb(79, 73, 73);
  }

.form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    height: 40px;
}
.form-group button[type="submit"] {
    width: 14%;
    height: 40px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    margin-right: 205px;
    margin-top: -10px;
  }

table {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    margin-bottom: 50px;
  }

  td,
  th {
    padding: 10px 16px;
    text-align: center;
  }

  th {
    background-color: #9c9691;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }
